{% extends "AchPoManagerBundle:PoManager:layout.html.twig" %}

{% block title %}{{ parent() }} - Serial Number Query View{% endblock %}

{% block body %}

<h2>List of Serial Number(s) matching request:</h2>
	<p>
		<table id="sortable" class="table table-bordered table-hover tablesorter">
			<thead>
				<tr>
					<th>S/N</th>
					<th>MAC Address</th>
					<th>Lot #</th>
					<th>Product</th>
					<th>P/N</th>
					<th>Cust. P/N</th>
					<th>Cust. Rev.</th>
					<th>PO #</th>
					<th>Rel. #</th>
					<th>Line #</th>
					<th>PO due date</th>
					<th>Shipping date</th>
					<th>Tracking number</th>
					<th>Qty on PO line</th>
					<th>Qty on shipment</th>
				</tr>
			</thead>
			<tbody>
				{% for item in serialNumbers %}
				  <tr>
				    <td>{{item.serialNumber}}</td>
				    <td>{{item.macAddress}}</td>

				    {% if item.shipmentBatch is not null %}
				      
				      {% if item.shipmentBatch.shipmentItem is not null %}	      

					<td>{{item.shipmentBatch.num}}</td>
					<td>{{item.shipmentBatch.shipmentItem.poItem.revision.product.description}}</td>
					<td>{{item.shipmentBatch.shipmentItem.poItem.revision.product.pn}}</td>
					<td>{{item.shipmentBatch.shipmentItem.poItem.revision.product.custPn}}</td>
					<td>
					  {{item.shipmentBatch.shipmentItem.poItem.revision.revisionCust}}
					  <br />
					  <a href="{{ path('ach_po_manager_search_revision_pn', {'pn': item.shipmentBatch.shipmentItem.poItem.revision.product.pn} ) }}">(see all rev.)</a>
					</td>
					<td>{{item.shipmentBatch.shipmentItem.poItem.po.num}}</td>
					<td>{{item.shipmentBatch.shipmentItem.poItem.po.relNum}}</td>
					<td>{{item.shipmentBatch.shipmentItem.poItem.lineNum}}</td>
					<td>{{item.shipmentBatch.shipmentItem.poItem.dueDate|date('Y-m-d')}}</td>
					<td>{{item.shipmentBatch.shipmentItem.shipment.shippingDate is empty ? "unknown" : item.shipmentBatch.shipmentItem.shipment.shippingDate|date('Y-m-d')}}</td>
					<td>
					  <a href="{{ path('ach_po_manager_search_shipmentitem_tracking', {'tracking': item.shipmentBatch.shipmentItem.shipment.trackingNum} ) }}">{{item.shipmentBatch.shipmentItem.shipment.trackingNum}}</a>
					  <br />
					  {# <a href="{{ path('ach_po_manager_search_shipmentitem_poitemid', {'id': item.shipmentBatch.shipmentItem.poitem.id} ) }}">(view)</a> #}
					  <a href="{{ item.shipmentBatch.shipmentItem.shipment.carrier.link }}{{ item.shipmentBatch.shipmentItem.shipment.trackingNum }}">(view carrier info)</a>
					</td>
    					<td>{{item.shipmentBatch.shipmentItem.poItem.qty}}</td>
					<td>{{item.shipmentBatch.shipmentItem.qty}}</td>
					
				      {% else %}
					
					<td>{{item.shipmentBatch.num}}</td>
					<td>{{item.shipmentBatch.productName}}: in stock</td>
					<td></td>
					<td></td>
					<td></td>
					<td>N/A</td>
					<td>N/A</td>
					<td>N/A</td>
					<td>N/A</td>
					<td>N/A</td>
					<td>N/A</td>
    					<td>N/A</td>
					<td>N/A</td>
					
				      {% endif %}
				      
				    {% else %}

				      <td>N/A</td>
				      <td>N/A</td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td>N/A</td>
				      <td>N/A</td>
				      <td>N/A</td>
				      <td>N/A</td>
				      <td>N/A</td>
				      <td>N/A</td>
    				      <td>N/A</td>
				      <td>N/A</td>
					
				    {% endif %}
				    
				</tr>
				{% else %}
				<tr>
					No match!
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include "AchPoManagerBundle:PoManager:generateXlsButton.html.twig" %}
	</p>

<script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('js/enablesorting.js') }}"></script>

{% endblock %}
