{% extends "AchPoManagerBundle:PoManager:layout.html.twig" %}

{% block title %}{{ parent() }} - Product Query View{% endblock %}

{% block body %}

<h2>List of revision(s) of product(s) matching request:</h2>
	<p>
		<table id="sortable" class="table table-bordered table-hover tablesorter">
			<thead>
				<tr>
					<th></th>
					<th>{{ pn_header }}</th>
					<th>{{ cust_pn_header }}</th>
					<th>{{ desc_header }}</th>
					<th>revision</th>
					<th>cust. revision</th>
					<th>{{ comment_header}}</th>
					<th>Drawing</th>
					<th>Create BPO</th>
				</tr>
			</thead>
			<tbody>
				{% for item in revisions %}
				<tr>
					<td> {% if item.active == true %}<span class="glyphicon glyphicon-ok alert-success" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove alert-danger" aria-hidden="true"></span>{% endif %} </td>
					<td>{{ item.product.pn }}</td>
					<td>{{ item.product.custPn }}</td>
					<td>{{ item.product.description }}</td>
					<td>{{ item.revision }}</td>
					<td>{{ item.revisionCust}}</td>
					<td>{{ item.comment }}</td>
					<td>{% if item.drawingPath is empty %} none {% else %} <a href="{{ revision_files_path }}/{{item.drawingPath}}">{{item.drawingPath}}</a> {% endif %}</td>
					<td><a href="{{ path('ach_po_manager_create_bpo', {'id': item.id} ) }}">Create BPO</td>
				</tr>
				{% else %}
				<tr>
					No match!
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include "AchPoManagerBundle:PoManager:generateXlsButton.html.twig" %}
	</p>

<script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('js/enablesorting.js') }}"></script>

{% endblock %}
