{% extends "AchPoManagerBundle:PoManager:layout.html.twig" %}

{% block title %}{{ parent() }} - Po items Review{% endblock %}

{% block body %}

<h2>{{ coordinator.name }}, please review following items:</h2>
	<p>
		<table id="sortable" class="table table-bordered table-hover tablesorter">
			<thead>
				<tr>
					<th>Po #</th>
					<th>Release #</th>
					<th>Line #</th>
					<th>VITEC P/N</th>
					<th>Customer P/N</th>
					<th>Description</th>
					<th>Quantity</th>
					<th>Unit Price</th>
					<th>Amount</th>
					<th>Currency</th>
					<th>Due date</th>
					<th>Comments</th>
					<th>PO file</th>
					<th>Approve Item</th>
				</tr>
			</thead>
			<tbody>
			{% for item in poItems %}
				<tr id="row-id-{{ item.id }}">
					<td id="po-id-{{ item.id }}">{{ item.po.num }}</td>
					<td id="rel-id-{{ item.id }}">{{ item.po.relNum }}</td>
					<td id="line-id-{{ item.id }}">{{ item.lineNum }}</td>
					<td id="pn-id-{{ item.id }}">{{ item.revision.product.pn }}</td>
					<td>{{ item.revision.product.custPn }}</td>
					<td>{{ item.description }}</td>
					<td id="qty-id-{{ item.id }}">{{ item.qty }}</td>
					<td>{{ item.price.price }}</td>
					<td>{{ (item.price.price*item.qty)|number_format(2, '.', ',')  }}</td>
					<td>{{ item.price.currency.tla }}</td>
					<!-- <td id="date-id-{{ item.id }}">{{ item.dueDate|date('D-d-M-Y') }}</td> -->
					<td id="date-id-{{ item.id }}">{{ item.dueDate|date('Y-m-d') }}</td>
					<td>{{ item.comment }}</td>
					<td><a href="{{ po_files_path }}/{{ item.po.filePath }}">{{ item.po.filePath }}</a></td>
					<td>
						<button id="approval-{{item.id}}" type="button" class="btn btn-success">Approve!</button>
						<button id="rejection-{{item.id}}" type="button" class="btn btn-danger">Reject!</button>
					</td>
				</tr>
			{% else %}
			<tr>
				No Item to approve!
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</p>

<script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('js/processPoItemProd.js') }}"></script>

{% endblock %}

