{% extends "AchPoManagerBundle:PoManager:layout.html.twig" %}

{% block title %}{{ parent() }} - Repair Sheet{% endblock %}

{% block body %}

  <h2>Repair Sheet</h2>
  <div class="well">
    <p>
      <div class="row">
	<div class="col-lg-1">
	  <b>RMA number:</b> {# {{ rma.num }} #}
	</div>
	<div class="col-lg-1">
	  <img src="{{ path( 'ach_po_manager_generate_barcode', { 'code' : rma.num } ) }}" alt="{{ rma.num }}">
	</div>
      </div>
      <br />
      <div class="row">
	<div class="col-lg-1">
	  <b>Unit S/N:</b>     {# {{ rma.serialNum.serialNumber }} #}
	</div>
	<div class="col-lg-1">
	  <img src="{{ path( 'ach_po_manager_generate_barcode', { 'code' : rma.serialNum.serialNumber } ) }}" alt="{{ rma.serialNum.serialNumber }}">
	</div>
      </div>
      <br />
      <br />
      <b>Customer Unit S/N:</b> {{ rma.custSerialNum }}
      <br />
      <b>Customer contact:</b> {{ rma.contactEmail }}
      <br />
      <b>Rma created on:</b> {{ rma.creationDate|date('M d, Y')}}
      <br />
      <b>Customer reported issue:</b> {{ rma.problemDescription}}</b>
      <br />
      <br />
      <b>Rma received at VITEC on:</b> {{ rma.receptionDate|date('M d, Y')}}
      <br />
      <b>Investigation result:</b> {{ rma.investigationResult }}
      <br />
      <b>NC classified as:</b> {{ rma.problemCategory.name }} / {{ rma.problemCategory.description }}
      <br />
      <br />
      <b>Rma repaired on:</b> {{ rma.repairDate|date('M d, Y')}}
      <br />
      {% for item in rma.partReplacements %}
	<b>Swapped:</b> P/N {{ item.product.pn }}/{{ item.product.custPn }} - {{ item.product.description }}
	<br />
      {% endfor %}
      <br />
      <br />
      <b> Repair technicien name/signature/date:</b>
      <br />
      <br />
      <br />
      <br />
      <b> Shipping inspection manager name/signature/date:</b>
      <br />
      <br />
      <br />
      <br />
    </p>
</div>

<i>[Please print sheet and apply on unit]</i>
<br />
<br />
<b>Ship under repair PO:</b>
<img src="{{ path( 'ach_po_manager_generate_barcode', { 'code' : 'FAKE PO' } ) }}" alt="RMA# Barcode">
{% endblock %}
