{% extends "AchPoManagerBundle:PoManager:layout.html.twig" %}

{% block title %}{{ parent() }} - Service Sheet{% endblock %}

{% block body %}

  <h2>Service Sheet for RMA # <img src="{{ path( 'ach_po_manager_generate_barcode', { 'code' : rma.num, 'height' : 40 } ) }}" alt="{{ rma.num }}"></h2>
  <div class="well">
    <p>
      <b>Unit S/N:</b> {{ rma.serialNum.serialNumber }} 
      <br />
      <b>Customer Unit S/N:</b> {{ rma.custSerialNum }}
      <br />
      <b>Customer contact:</b> {{ rma.contactEmail }}
      <br />
      <b>Rma created on:</b> {{ rma.creationDate|date('M d, Y')}}
      <br />
      <b>Customer reported issue:</b> {{ rma.problemDescription}}
      <br />
      <br />
      <b>Repair Center:</b> {{ rma.repairLocation.name }}
      <br />
      <b>Rma received at the repair center on:</b> {{ rma.receptionDate|date('M d, Y')}}
      <br />
      <b>Investigation result:</b> {{ rma.investigationResult }}
      <br />
      <b>NC classified as:</b> {{ rma.problemCategory.name }} / {{ rma.problemCategory.description }}
      <br />
      <br />
      <b>Rma repaired on:</b> {{ rma.repairDate|date('M d, Y')}}
      <br />
      {% for item in rma.partReplacements %}
	<b>Replaced:</b> P/N {{ item.product.pn }}/{{ item.product.custPn }} - {{ item.product.description }}
	<br />
      {% endfor %}
      <br />
      <b> Repair technician name/signature/date:</b>
      <br />
      <br />
      <br />
      <br />
      <b> Shipping inspection manager name/signature/date:</b>
      <br />
      <br />
      <br />
      <br />
      <b>Ship under repair PO:</b><img src="{{ path( 'ach_po_manager_generate_barcode', { 'code' : 'PO ' ~ rma.rpoNum, 'height' : 40 } ) }}" alt="PO {{ rma.rpoNum }}">
    </p>
</div>
<i>[Please print sheet and apply on unit]</i>
<br />
<br />
<i>Sheet hash code:</i><br />
<img src="{{ path( 'ach_po_manager_generate_barcode', { 'code' : repairHashCode, 'height' : 60 } ) }}" alt="{{ repairHashCode }}">
<br />
<br />
{% endblock %}
